
.container {
    background-color: #282c34;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mensaje {
    color: rgb(130, 211, 255);
    
}

.logo { 
  width: 100px;
  padding: 10px;
}