.titulo{
    font-family: sans-serif;
    font-size: 30px;
    background-color: #afebff; 
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%; 
  }

.botonVolver{
    border-radius: 8px;
    padding: 7px 17px;
    background-color: #008CBA;
    color: white;
    border: none;
    transition-duration: 0.4s;
}

.botonVolver:hover {
    background-color: #41b5db; /* Green */
    color: white; 
  }

  .imagen{
    margin: 5%;
    border: 3px groove #afebff;
    float: left;
    width: 40%;
    border-radius: 8px;
  }

  .contenedor{
    align-items: center;
    padding-top: 5%;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%; 

  }
  